.footer {
  border-top: 1px solid #e8ebf3;
  text-align: center;
  padding: 6px 0 10px;
  margin: auto 30px 0;
  font-size: 11px;
  position: absolute;
  bottom: 0;
  color: #e8ebf3;
  width: 140px;
}

.nav {
  height: 100vh;
  z-index: 99;
  position: fixed;
}